extends layout

include mixins/_tweetCard
include mixins/_tweetForm
include mixins/_userInfoCard

block content
  .content
    .tri-grid-container
      .tri-grid-container__item
        +userInfoCard()

      .tri-grid-container__item
        +tweetForm()
        ul.feed
          each tweet in tweets
            li.feed__item
              +tweetCard(tweet)
              
      .tri-grid-container__item
        .card.footer
          ul.footer__links-list
            li.footer__item
              a(href="#").footer__link Made by Seth Church