.button {
  font-size: 1.5em;
  border: 0;
  background: $accent;
  color: $text-color;
  font-family: inherit;
  font-weight: 600;
}

.tweet-btn {
  background: $accent;
  border: 0;
  color: $text-color;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 100rem;
  margin-left: 1rem;
  &:disabled {
    background: desaturate($accent, 40%);
    cursor: not-allowed;
  }
}

.follow-btn {
  @extend .tweet-btn;
}
