.card {
  background: $container1;
  padding: 1.5rem;
}

.user-info-card {
  width: 100%;
  min-width: 29rem;
  box-shadow: $shadow2;
  position: relative;
  padding: 4rem 2rem 1.5rem 1rem;
  &:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background: $accent;
  }
  &__link {
    color: $text-color;
    text-decoration: none;
  }
  &__name {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    &:hover {
      text-decoration: underline;
    }
  }
  &__handle {
    font-size: 1.5rem;
    font-weight: 100;
    color: $text-color2;
    margin: 0;
    &:hover {
      text-decoration: underline;
    }
  }
  &__image {
    border-radius: 100%;
    width: 7.5rem;
    border: $container1 2px solid;
    box-shadow: $shadow2;
    margin: 0 1rem 0 0;
  }
  &__header {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    margin-top: 3rem;
  }
  &__stats {
    display: flex;
    justify-content: space-around;
    &--title {
      font-weight: 500;
      margin: 2rem 0 0 0;
      font-size: 1.3rem;
      color: $text-color2;
    }
    &--value {
      margin: 0.25rem 0 0 0;
      color: $accent;
      font-size: 2rem;
    }
    &--item {
      &:hover {
        .user-card__stats--title {
          color: $accent;
        }
      }
    }
  }
}

.tweet-card {
  width: 60rem;
  padding: 1rem 1.25rem;
  box-shadow: $shadow1;
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-column-gap: 1rem;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5rem;
    #tweet-card__control-btn {
      color: $text-color;
    }
  }
  &__author-image {
    grid-column-start: 1;
    border-radius: 100%;
  }
  &__name {
    font-weight: 600;
    margin-right: 0.5rem;
  }
  &__handle {
    font-weight: 200;
    color: $text-color2;
    font-size: 1.3rem;
    margin-right: 0.5rem;
  }
  &__time {
    color: $text-color2;
    font-size: 1.3rem;
    &:before {
      content: '\00b7';
      margin-right: 0.5rem;
    }
  }
  &__content {
    grid-column-start: 2;
    font-size: 1.5rem;
  }
  &__text {
    margin: 0 0 1rem 0;
  }
  &__body {
    margin-bottom: 1.5rem;
  }
  &__controls {
    display: flex;
    span {
      width: 8rem;
      display: flex;
      align-items: center;
      i {
        font-size: 1.75rem;
        color: $text-color2;
      }
      p {
        margin: 0.5rem 0;
      }
    }
  }
}
