input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid;
  background: #141414;
  border: 0;
  color: $text-color;
  font-family: inherit;
  font-size: 1.5em;
  &.input {
    &--error {
      border-color: $error;
    }
  }
}

label {
  font-family: inherit;
  font-size: 1.5rem;
  padding: 10px 0;
  display: block;
}

form {
  background: #212121;
  padding: 2rem 3rem;
}

.form {
  width: 100%;
  max-width: 600px;
  margin-top: 4rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  &__header {
    margin: 0;
    font-size: 3rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  &__info-text {
    font-size: 1.3rem;
  }
}

.tweet-form {
  padding: 2rem;
  box-shadow: $shadow2;
  width: 100%;
  min-width: 60rem;
  margin: 0 0 0.5rem 0;
  &__body {
    margin-bottom: 1.5rem;
  }
  &__input {
    border-radius: 1rem;
  }
  &__controls {
    display: flex;
    justify-content: space-between;
  }
  &__image-btn {
    background: $container1;
    color: $text-color;
    border: 1px solid #141414;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    &:hover {
      background: #141414;
    }
  }
}

.follow-form {
  padding: 0;
  button {
    cursor: pointer;
  }
}
