html {
  font-size: 10px;
  font-family: 'Segoe UI', sans-serif;
  color: $text-color;
}

body {
  background: $container1 - 10;
  display: grid;
  grid-template-columns: 2.5rem 1fr 2.5rem;
  grid-template-rows: min-content min-content 1fr;
  padding-top: 5rem;
}

.content {
  max-width: 1200px;
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 3;
  justify-self: center;
  &--center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.aside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  &__left {
    grid-column-start: 1;
  }
  &__right {
    grid-column-start: 2;
    justify-self: end;
  }
}

.tri-grid-container {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas: 'section-a section-b section-c';
  grid-column-gap: 1.5rem;
  &__item {
    min-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:nth-child(1) {
      grid-area: section-a;
      align-items: flex-start;
    }
    &:nth-child(2) {
      grid-area: section-b;
    }
    &:nth-child(3) {
      grid-area: section-c;
      align-items: flex-end;
    }
  }
}

.flex-container {
  display: flex;
  height: 100%;
  &__item {
    display: flex;
    flex-direction: column;
    min-width: 30rem;
  }
}

.error {
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
  }
  pre {
    color: $text-color;
    font-size: 1.5rem;
    line-height: 2;
    white-space: pre-line;
  }
}

.footer {
  width: 100%;
  box-shadow: $shadow2;
  &__links-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  &__link {
    text-decoration: none;
    color: $text-color;
    font-size: 1.25rem;
  }
}

.screen {
  display: none;
  padding-left: 3rem;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.473);
  & > * {
    z-index: 100;
  }
  &--active {
    display: flex;
  }
}
