html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: $text-color;
}

body {
    background: #191919;
    display: grid;
    grid-template-columns: 2.5rem 1fr 2.5rem;
}

.content {
    max-width: 120rem;
    grid-column-start: 2;
    width: 100%;
}

.error {
    h2 {
        font-size: 3rem;
    }
    p {
        font-size: 2rem;
    }
    pre {
        color: $text-color;
        font-size: 1.5rem;
        line-height: 2;
        white-space: pre-line;
    }
}
