html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: $text-color;
}

body {
    background: #191919;
    display: grid;
    grid-template-columns: 2.5rem 1fr 2.5rem;
    grid-template-rows: min-content min-content 1fr;
}

.content {
    max-width: 1200px;
    width: 100%;
    grid-column-start: 2;
    grid-row-start: 3;
    justify-self: center;
}
.flash-banner {
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
    max-width: 1200px;
    width: 100%;
}
.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    &__left {
        grid-column-start: 1;
    }
    &__right {
        grid-column-start: 2;
        justify-self: end;
    }
}

.error {
    h2 {
        font-size: 3rem;
    }
    p {
        font-size: 2rem;
    }
    pre {
        color: $text-color;
        font-size: 1.5rem;
        line-height: 2;
        white-space: pre-line;
    }
}
