.top {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  display: grid;
  grid-template-columns: 2.5rem auto 2.5rem;
  height: 5rem;
  z-index: 999;
  background: #212121;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.19),
    0 0.6rem 0.6rem rgba(0, 0, 0, 0.23);
}

.nav {
  grid-column-start: 2;
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr 1fr;
  color: $text-color;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  &__item {
    list-style-type: none;
    height: inherit;
  }
  &__link {
    width: 100%;
    height: 100%;
    padding: 1rem;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    &--text {
      font-weight: 600;
      margin-left: 0.5rem;
      @media (max-width: 900px) {
        display: none;
      }
    }
  }
  &__controls {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    &--left {
      grid-column-start: 1;
      display: flex;
      justify-content: flex-start;
    }
    &--right {
      grid-column-start: 3;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  &__brand {
    grid-column-start: 2;
    justify-self: center;
    color: $accent;
  }
  &__search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
    border-right: 0.1rem solid #323232;
    height: 2.5rem;
    &--input {
      height: 2.5rem;
      margin-right: 1rem;
      width: 100%;
      min-width: 20rem;
      @media (max-width: 900px) {
        display: none;
      }
    }
    &--icon {
      color: #323232;
    }
  }
  &__avatar {
    padding: 0 1rem;
    color: $accent;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &--btn {
      border-radius: 100%;
      width: 4rem !important;
      height: 4rem !important;
    }
    &--image {
      width: 100%;
      border-radius: 100%;
    }
  }
  .dropdown {
    &__menu {
      top: 4.5rem;
    }
    &__list:before {
      left: 1rem;
    }
  }
}
