.top {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 2.5rem auto 2.5rem;
    height: 5rem;
    background: #1e1e1e;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.19),
        0 0.6rem 0.6rem rgba(0, 0, 0, 0.23);
}

.nav {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: $text-color;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    &__item {
        transition: 0.3s ease;
        list-style-type: none;
        height: inherit;
        box-shadow: inset 0 0rem 0 $accent;
        &--active {
            color: $accent;
            box-shadow: inset 0 -0.4rem 0 $accent;
        }
        &:hover {
            color: $accent;
            box-shadow: inset 0 -0.4rem 0 $accent;
        }
    }
    &__link {
        width: 100%;
        height: 100%;
        padding: 1rem;
        color: inherit;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        &--text {
            font-weight: 600;
            margin-left: 0.5rem;
            @media (max-width: 900px) {
                display: none;
            }
        }
    }
    &__controls {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        &--left {
            grid-column-start: 1;
            justify-self: start;
        }
        &--right {
            grid-column-start: 3;
            justify-self: end;
        }
    }
    &__brand {
        grid-column-start: 2;
        justify-self: center;
        color: $accent;
    }
    &__search {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 1rem;
        border-right: 0.1rem solid #323232;
        height: 2.5rem;
        width: 100%;
        &--input {
            background: #141414;
            border: 0;
            color: $text-color;
            font-family: inherit;
            height: 2.5rem;
            margin-right: 1rem;
            width: 100%;
            min-width: 20rem;
            @media (max-width: 900px) {
                display: none;
            }
        }
        &--icon {
            color: #323232;
        }
    }
    &__avatar {
        margin: 0 1rem;
        color: $accent;
        &--image {
            font-size: 3rem;
        }
    }
    &__tweet-btn {
        background: $accent;
        border: 0;
        color: inherit;
        font-weight: 600;
        font-size: 1.5rem;
        padding: 0.75rem 1.5rem;
        border-radius: 100rem;
    }
}
