.user-info {
  &__name {
    font-size: 2.25rem;
    margin-bottom: 0.25rem;
    font-weight: 700;
    color: $text-color;
    &:hover {
      text-decoration: underline;
    }
  }
  &__handle {
    font-size: 1.5rem;
    color: $text-color2 !important;
    &:hover {
      & > * {
        text-decoration: underline;
      }
    }
  }
  &__link {
    color: $text-color;
    display: block;
    text-decoration: none;
    &:visited {
      color: inherit;
    }
  }
  &__bio {
    font-size: 1.5rem;
  }
  &__joined {
    color: $text-color2;
    font-size: 1.4rem;
    i {
      font-size: 1.5rem;
    }
  }
}
